.container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 100vh;
    overflow: hidden;
}

.left-side {
    width: 16.5%;
    height: 100%;
}

.right-side {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}