.sidebar {
    width: 250px;
    background-color: #f3f3f3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 550;
}

.logo {
    margin-bottom: 30px;
    padding-left: 8px;
}

.logo .highlight {
    color: #0003d0;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-item {
    padding: 10px 16px;
    border-radius: 15px;
    color: #111;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #e4e4e4;
}

.nav-item.active {
    background-color: #A7A7A7;
    color: white;
}

.bottom-section {
    display: flex;
    flex-direction: column;
}

.profile-label {
    padding-left: 16px;
}

.logout-button {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #B4B4B4;
    margin-left: 30px;
}

.logout-button:hover {
    background-color: #e4e4e4;
}

.logout-icon {
    margin-right: 8px;
}